*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
/* ----------------------------règles générales------------------------------ */
html{
    --main-color: #efdcd5;
    --second-color: #8c7b75;
    --tirth-color: #d3b8ae;
    --title-color: white;
    --text-color: #725b53;
    --quatr-color: #bcaaa4;
    --cinq-color: #a1887f;
    --six-color: #d7ccc8;
    --sept-color: #fffffb;
    --huit-color: #a69b97;
}
body{
    background-color: var(--main-color, beige);
    display: flex;
    flex-direction: column;
}
h1{
    margin-bottom: 20px;
}
.flex-justi-ali-center{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.inline-justi-ali-center{
    display: inline-block;
    justify-content: space-around;
    align-items: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.souligne{
    text-decoration: underline;
}
.slide-line{
    text-decoration: none;
    position: relative;
}
.slide-line::before{
    content: "";
    position: absolute;
    background: #725b53;
    width: 100%;
    height: 1px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
}
.slide-line:hover::before{
    transform-origin: 0 0;
    transform: scaleX(1);
} 
.margin-auto{
    margin: 10px auto;
}
/* -------------------------------en construction--------------------------- */
.construc{
    display: none;
}
.nav-link:hover .construc{
    display: block;
    color: red;
    font-weight: bold;
}
.nav-link:hover .construc2{
    display: none;
}
.dropdown-item:hover .construc{
    display: block;
    color: red;
    font-weight: bold;
}
/* .nav-link:active .construc2{
    display: none;
}
.dropdown-item:active .construc{
    display: block;
    color: red;
    font-weight: bold;
} */
.dropdown-item:hover .construc2{
    display: none;
}
.a-telmail:hover .construc{
    display: block;
    color: red;
    font-weight: bold;
}
.a-telmail:hover .construc2{
    display: none;
}
/*----------------------------header---------------------------------------- */
#header-logo{
    width: 200px;
    height: auto;
    border-radius: 50px;
    margin: 2rem 0;
}
/* --------------------------barre de navigation---------------------------- */
.nav-item{
    position: relative;
    border-radius: 10px;
}
.nav-effet{
    overflow: hidden;
}
.nav-item:hover{
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px #efdcd5, 0 0 40px #efdcd5, 0 0 80px #efdcd5;
}
.nav-item span{
    position: absolute;
    display: block;
}
.nav-item span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#efdcd5);
}
.nav-item:hover span:nth-child(1){
    left: 100%;
   transition: 1s;
}
.nav-item span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#efdcd5);
}
.nav-item:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.nav-item span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#efdcd5);
}
.nav-item:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.nav-item span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#efdcd5);
}
.nav-item:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.nav-link{
    display: flex;
}
/* ---------------------------partie presentation---------------------- */
#interieur-boulangerie{
    margin: 2rem 0 1rem 0;
    width: 100%;
    height: auto;
    border-radius: 25%;
}
.presentation-rectangle{
    color: var(--text-color, black);
    margin: 20px 0;
    padding: 4rem;
    font-size: 1.1rem;
    border: 4px ridge var(--second-color, black);
    border-radius: 10px;
    background-color: var(--tirth-color, white);
    box-shadow: 0 0 10px var(--second-color, white), 0 0 40px var(--second-color, white), 0 0 80px var(--second-color, white);
}
.presentation-radius{
    color: var(--text-color, black);
    margin: 20px 0;
    padding: 4rem;
    font-size: 1.1rem;
    border: 4px ridge var(--second-color, black);
    border-radius: 40%;
    background-color: var(--tirth-color, white);
    box-shadow: 0 0 10px var(--second-color, white), 0 0 40px var(--second-color, white), 0 0 80px var(--second-color, white);
}
.presentation-carousel{
    color: var(--text-color, black);
    margin: 20px auto;
    padding: 1rem;
    font-size: 1.1rem;
    border: 4px ridge var(--second-color, black);
    border-radius: 50%;
    background-color: var(--tirth-color, white);
    box-shadow: 0 0 10px var(--second-color, white), 0 0 40px var(--second-color, white), 0 0 80px var(--second-color, white);
}
.histo-1{
    margin: 15px auto;
}
.div-h2{
    margin-bottom: 20px;
}
/* ---------------------------partie equipe-------------------------------------- */
#photo-equipe{
    width: 100%;
    height: 200px;
}
.ul-li-equipe{
    margin: 10px 0;
}
/* ----------------------------carousel pain viennoiserie----------------------- */
.carousel-pain{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
#carouselExampleCaptions{
    width: 100%;
    height: auto;
}
.carou-pain{
    margin: 30px auto;
}
/* ----------------------------partie horaires  - paiements-------------------- */
.liste-horaires h2{
    margin-bottom: 30px;
}
.liste-horaires{
    padding: 2rem;
}
.liste-horaires li{
    font-size: 0.8rem;
}
.liste-horaires p{
    margin: 30px 0;
    font-size: 0.9rem;
}
.li-horaires{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1rem;
}
.paid{
    width: 40px;
    height: auto;
    padding: 30px 0;
}
/* --------------------------adresse---------------------------------- */
#google-map{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.map{
    margin: 20px 0;
    padding: 3rem;
    border: 4px ridge var(--second-color, black);
    border-radius: 10px;
    background-color: var(--tirth-color, white);
    box-shadow: 0 0 10px var(--second-color, white), 0 0 40px var(--second-color, white), 0 0 80px var(--second-color, white);
}
/* -------------------------Téléphone et mail------------------------- */
.tel-mail{
    margin: 20px auto;
    padding: 1rem;
    border: 4px ridge var(--second-color, black);
    border-radius: 40%;
    background-color: var(--tirth-color, white);
    box-shadow: 0 0 10px var(--second-color, white), 0 0 40px var(--second-color, white), 0 0 80px var(--second-color, white);
}
.a-telmail{
    color: white;
    font-size: 0.8rem;
    margin-bottom: 15px;
}
.a-telmail:hover{
    color: rgb(133, 230, 247);
}
.flex-telmail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* --------------------------liens------------------------------------- */
.mention-liens{
    color: var(--text-color, black);
    padding: 2rem;
    border: 4px ridge var(--second-color, black);
    border-radius: 50%;
    background-color: var(--tirth-color, white);
    box-shadow: 0 0 10px var(--second-color, white), 0 0 40px var(--second-color, white), 0 0 80px var(--second-color, white);
    margin: 20px auto;
}
.a-mention{
    color: white;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
}
.a-mention:hover{
    color: #725b53;
    text-decoration: underline;
}
.copyright{
    font-size: 0.7rem;
}
.lien-decor{
    position: relative;
    overflow: hidden;
}
.lien-decor:hover{
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px #efdcd5, 0 0 40px #efdcd5, 0 0 80px #efdcd5;
}
.lien-decor span{
    position: absolute;
    display: block;
}
.lien-decor span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#725b53);
}
.lien-decor:hover span:nth-child(1){
    left: 100%;
   transition: 1s;
}
.lien-decor span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#725b53);
}
.lien-decor:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.lien-decor span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#725b53);
}
.lien-decor:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.lien-decor span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#725b53);
}
.lien-decor:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.modal-body, .modal-header, .modal-footer{
    background: var(--second-color);
    color: white;
}
.modal-body{
    font-size: 0.9rem;
}
.modal-body p{
    margin: 15px 0;
    text-align: justify;
}
.modal-body a:hover{
    color: #d3b8ae;
}
#btn-mention{
    font-size: 0.9rem;
}
.modal-a{
    color: black;
}
#btn-mention:hover{
    color: #725b53;
}
/* -------------------------footer-------------------------------------- */
footer{
    margin-bottom: 15px;
    position: sticky;
    bottom: 0;  
}
.footer-a-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--second-color);
    padding: 5px;
}
.a-footer{
    color: white;
    font-size: 0.6rem;
    text-align: center;
    text-decoration: none;
}
.a-footer:hover{
    color: #efdcd5;
}
.footer-decor{
    position: relative;
    overflow: hidden;
}
.footer-decor:hover{
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
}
.footer-decor span{
    position: absolute;
    display: block;
}
.footer-decor span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,white);
}
.footer-decor span:nth-child(1){
    left: 100%;
   transition: 1s;
}
.footer-decor span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,white);
}
.footer-decorr:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.footer-decor span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,white);
}
.footer-decor:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.footer-decor span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,white);
}
.footer-decor:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/* ---------------------règles media querry--------------------------- */
@media(min-width: 768px){
    #header-logo{
        width: 300px;
        height: auto;
        border-radius: 80px;
    }
    .row-presentation{
        display: flex;
        justify-content: space-between;
        margin: 2rem 2rem;
    }
    .navbar{
        margin: 0.5rem 0;
    }
    .presentation{
        font-size: 1.2rem;
    }
    .presentation-rectangle{
        font-size: 1.2rem;
    }
    .presentation-radius{
        font-size: 1.2rem;
    }
    .liste-horaires p{
        font-size: 1.1rem;
    }
    .li-horaires{
        font-size: 1.3rem;
    }
    .map{
        padding: 3rem;
    }
    #google-map{
        width: 100%;
        height: 250px;
    }
    .a-telmail{
        font-size: 1rem;
    }
    .mention-liens{
        padding: 2rem;
        margin: 20px 0;
    }
    .a-mention{
        font-size: 1.1rem;
    }
    #btn-mention{
        font-size: 1.1rem;
    }
    .copyright{
        font-size: 0.8rem;
    }
    #photo-equipe{
        height: auto;
    }
}
@media(min-width: 992px){
    h1{
        font-size: 2.8rem;
        margin-bottom: 30px;
    }
    .navbar-nav{
        font-size: 0.9rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-item{
        border: 2px ridge white;
        margin: 10px 10px;
    }
    .navbar-expand-lg .navbar-nav {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    .presentation{
        font-size: 1.4rem;
    }
    .presentation-rectangle{
        font-size: 1.4rem;
    }
    .presentation-radius{
        font-size: 1.4rem;
    }
    #nav-logo{
        width: 110%;
        height: auto;
    }
    .liste-horaires h2{
        font-size: 2.5rem;
    }
    .liste-horaires p{
        font-size: 1.6rem;
    }
    .li-horaires{
        font-size: 1.8rem;
    }
    .map{
        padding: 4rem;
    }
    #google-map{
        width: 100%;
        height: 350px;
    }
    .a-telmail{
        font-size: 1.2rem;
    }
    .a-mention{
        font-size: 1.4rem;
    }
    #btn-mention{
        font-size: 1.4rem;
    }
    .copyright{
        font-size: 1rem;
    }
    #photo-equipe{
        height: 200px;
    }
    .presentation-carousel{
        margin: 20px 40px;
    }
}  
@media(min-width: 1200px){
    #header-logo{
        width: 350px;
        height: auto;
        border-radius: 90px;
    }
    .dropdown-menu{
        font-size: 1.4rem;
    }
    .navbar-nav{
        font-size: 1.2rem;
    }
    .presentation{
        padding: 5rem;
        font-size: 1.4rem;
    }
    .presentation-rectangle{
        padding: 5rem;
        font-size: 1.4rem;
    }
    .presentation-radius{
        padding: 5rem;
        font-size: 1.4rem;
    }
    .li-horaires{
        margin-top: 20px;
    }
    .liste-horaires p{
        margin-bottom: 40px;
    }
    .paid{
        width: 60px;
        height: auto;
    }
    .map{
        padding: 5rem;
    }
    .a-telmail{
        font-size: 1.4rem;
        margin-top: 20px;
    }
    #photo-equipe{
        height: auto;
    }
}
@media(min-width: 1400px){
    #header-logo{
        width: 400px;
        height: auto;
        border-radius: 100px;
    }
    .navbar-nav{
        font-size: 1.4rem;
    }
    .presentation{
        font-size: 1.5rem;
    }
    .presentation-rectangle{
        font-size: 1.5rem;
    }
    .presentation-radius{
        font-size: 1.5rem;
    }
    .map{
        padding: 6rem;
    }
    #google-map{
        width: 100%;
        height: 400px;
    }
    .a-telmail{
        font-size: 1.6rem;
        margin-top: 20px;
    }
    .a-footer{
        font-size: 0.7rem;
    }
}