*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
/* ----------------------------règles générales------------------------------ */
html{
    --main-color: #efdcd5;
    --second-color: #8c7b75;
    --tirth-color: #d3b8ae;
    --title-color: white;
    --text-color: #725b53;
}
body{
    background-color: var(--main-color, beige);
    display: flex;
    flex-direction: column;
}
.flex-justi-ali-center{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.inline-justi-ali-center{
    display: inline-block;
    justify-content: space-around;
    align-items: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
/*----------------------------header---------------------------------------- */
#header-logo{
    width: 200px;
    height: auto;
    border-radius: 50px;
    margin: 2rem 0;
}
/* --------------------------barre de navigation---------------------------- */
.nav-item{
    position: relative;
    
}
.nav-effet{
    overflow: hidden;
}
.nav-item:hover{
    border: none;
    box-shadow: 0 0 10px rgb(133, 230, 247), 0 0 40px rgb(133, 230, 247), 0 0 80px rgb(133, 230, 247);
}
.nav-item span{
    position: absolute;
    display: block;
}
.nav-item span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(133, 230, 247));
}
.nav-item:hover span:nth-child(1){
    left: 100%;
   transition: 1s;
}
.nav-item span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgb(133, 230, 247));
}
.nav-item:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.nav-item span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgb(133, 230, 247));
}
.nav-item:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.nav-item span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(133, 230, 247));
}
.nav-item:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.nav-link{
    display: flex;
}
/* ---------------------------partie presentation---------------------- */
#interieur-boulangerie{
    margin: 2rem 0 1rem 0;
    width: 100%;
    height: auto;
    border-radius: 25%;
}
.presentation{
    color: var(--text-color, black);
    margin: 20px 0;
    padding: 4rem;
    font-size: 1.1rem;
    border: 4px ridge var(--second-color, black);
    border-radius: 40%;
    background-color: var(--tirth-color, white);
    box-shadow: 0 0 10px var(--second-color, white), 0 0 40px var(--second-color, white), 0 0 80px var(--second-color, white);
}
/* ---------------------règles media querry--------------------------- */
@media(min-width: 768px){
    #header-logo{
        width: 300px;
        height: auto;
        border-radius: 80px;
    }
    .row-presentation{
        display: flex;
        justify-content: space-between;
        margin: 1rem 2rem;
    }
    .navbar{
        margin: 0.5rem 2rem;
    }
    .presentation{
        font-size: 1.2rem;
    }
}
@media(min-width: 992px){
    .navbar-nav{
        font-size: 0.9rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-item{
        border: 2px ridge white;
        margin: 10px 10px;
    }
    .navbar-expand-lg .navbar-nav {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    .presentation{
        font-size: 1.4rem;
    }
    #nav-logo{
        width: 110%;
        height: auto;
    }
}  
@media(min-width: 1200px){
    #header-logo{
        width: 350px;
        height: auto;
        border-radius: 90px;
    }
    .dropdown-menu{
        font-size: 1.4rem;
    }
    .navbar-nav{
        font-size: 1.2rem;
    }
    .presentation{
        padding: 5rem;
        font-size: 1.4rem;
    }
}
@media(min-width: 1400px){
    #header-logo{
        width: 400px;
        height: auto;
        border-radius: 100px;
    }
    .navbar-nav{
        font-size: 1.4rem;
    }
    .presentation{
        font-size: 1.5rem;
    }
}